*~
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/autoscan.log
*.bak
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.log
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
.deps
/INSTALL
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
.libs
/libtool
*.lo
/ltmain.sh
/m4
Makefile
Makefile.in
/missing
*.o
*.orig
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/gchess.pot
/po/*.gmo
/po/insert-header.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/*.mo
/po/POTFILES
/po/quot.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/stamp-it
*.rej
/src/gchess
/stamp-h1
*.tab.c
